# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE and Project
.vscode/
.idea/
*.swp

# Application Data
fitbit_tokens.json
config.json

# Logs
*.log
